@{
    ViewData["Title"] = "Views";
}

<h1>View</h1>

<div>
    <p>
        The View component is used for all the UI logic of the application. It generates a user interface for the user.
        Views are created by the data which is collected by the model component but these data aren’t taken directly but through the controller.
        It only interacts with the controller.
    </p>

    <p>The View is not very autonomous -it is like a black box where some data is thrown at it and it gives a display to
        the user in a browser friendly manner. It collects the input data from data sources, finds the template upon invocation,
        and combines them into HTML output at runtime.</p>

    <p>
        The view component is the part the user directly interacts with. It communicates with the controller to show what the user has requested with mouse and keyboard actions.
        Languages like HTML, CSS, and JavaScript are often used to implement this part. You can use frameworks like React, Vue, and Svelte, too.
        Some developers also use template engines like Handlebars, ejs, and liquidjs to implement the view.
    </p>
</div>