@{
    ViewData["Title"] = "Biography";
}

<h1>First Steps as an Artist</h1>

<div>
    <h2>1881-1883</h2>
    <p>
        Vincent's parents weren't very happy with his dream of an artist's life.
        Fortunately, that did not stop Vincent from working hard and improving his skills.
        He lived in various places in the Netherlands. In The Hague he took painting
        and drawing lessons with his uncle, the artist Anton Mauve. Yet love too provided inspiration.
    </p>

    <h2>From Etten to The Hague</h2>
    <p>
        In the spring of 1881, Vincent moved back in with his parents, who were now living in Etten, also in Brabant.
        He practised drawing and frequently worked out of doors. In the meantime, his brother Theo had been appointed
        manager of Goupil & Cie in Paris. He supported Vincent financially so he could focus entirely on his art.
    </p>

    <p>
        Vincents parents, by contrast, were extremely disappointed that their eldest son had chosen the life of an artist,
        which in their eyes was synonymous with social failure. It did not help that Vincent had fallen in love with his cousin,
        Kee Vos. Kee was a widow and wanted nothing to do with him, but Van Gogh persisted. This did not go down well with his
        family and, following a row with his father, Vincent walked out of his parents’ house on Christmas Day 1881.
        He found a new home in The Hague.
    </p>
</div>

