@{
    ViewData["Title"] = "Restoration";
}

<div>
    <h2>Conservation treatment 'Sunflowers'</h2>
    <p>
        Research has provided a great deal of new information regarding the condition of Van Gogh's
        famous Sunflowers painting and the materials that were used.
    </p>

    <p>
        Detailed research has led to the conclusion that Vincent van Gogh's famous Sunflowers painting is stable,
        but fragile. Therefore Sunflowers will no longer travel away from the Van Gogh Museum.
    </p>

    <p>Research conducted at the Van Gogh Museum into Vincent van Gogh’s famous Sunflowers has produced a great
        deal of new information regarding the condition of the painting and the materials that Van Gogh used.
        One of the conclusions is that the 130 year old painting is stable, but fragile. ‘This is why we have
        decided that Sunflowers will no longer travel away from the museum. From now on, this highlight of our
        collection will stay at home in Amsterdam, available for all of our visitors to see every day of the year’,
        says Axel Rüger, former Director of the Van Gogh Museum.
    </p>

    <img style="display: block;margin: auto;"
         src="https://assets.vangoghmuseum.nl/7d868d49-af80-4d07-9c52-d2790134feeb?w=1200&amp;format=webp&amp;c=982d2dea409cbc729288d689c71041b4a4f9c78a4b24a72dff1131ea06655550">
    <p>
        Axel Rüger, Former Director of the Van Gogh Museum, points to the added wooden strip in the museum's
        conservation studio together with restorers Ella Hendriks and René Boitelle (conservators).
    </p>

    <h2>The Research</h2>

    <p>
        Sunflowers has been in the museum’s conservation studio in the beginning of January 2019 while minor conservation
        treatment was carried out. This is the final phase of comprehensive research into the condition of the painting.
        An international team of specialists studied Sunflowers in Amsterdam using the latest techniques, in order to
        gather as much information as possible about the canvas, the layers of ground and paint, and the earlier restorations
        carried out on the work. The research aimed to answer the following questions:
    </p>

    <ul>
        <li>Which materials did Van Gogh use?</li>
        <li>What is the condition of the painting?</li>
        <li>Is restoration required and possible?</li>
        <li>What can be done to preserve the painting for future generations in the best possible manner?</li>
    </ul>
</div>
